    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">s3383092</a>
        </div>
        <ul class="nav navbar-default ">
            <li ng-class="{ active: isActive('/View1') }" class="col-sm-2"><a href="#/home">Home</a></li>
            <li ng-class="{ active: isActive('/View2') }" class="col-sm-2"><a href="#/table">Table</a></li>
            <li ng-class="{ active: isActive('/View3') }" class="col-sm-2"><a href="#/register">Register Now!</a></li>
        </ul>
    </div>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">
            <h1>Superhero Registry</h1>
            <h3 style="color:#FFFFFF;">Now Hiring!</h3>
        </div>
    </div>
</div>
