<div class="row" >
    <article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">
        <div ng-controller="people">
            <h1>Welcome to the Superhero registry!</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/batman.png" alt="batman" class="img-responsive img-rounded"/>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/daredevil.png" alt="daredevil" class="img-responsive img-rounded"/>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/robocop.png" alt="robocop" class="img-responsive img-rounded"/>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/deadpool.png" alt="Deadpool" class="img-responsive img-rounded"/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/ironman.png" alt="Ironman" class="img-responsive img-rounded"/>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/thor.png" alt="Thor" class="img-responsive img-rounded"/>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/hulk.png" alt="Hulk" class="img-responsive img-rounded"/>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/captainamerica.png" alt="Captain America" class="img-responsive img-rounded"/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/unknown.png" alt="unknown" class="img-responsive img-rounded" />
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/unknown.png" alt="unknown" class="img-responsive img-rounded" />
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/unknown.png" alt="unknown" class="img-responsive img-rounded" />
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#/table" class="thumbnail">
                                <img src="img/unknown.png" alt="unknown" class="img-responsive img-rounded" />
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </article>
    <aside class="col-lg-3 col-sm-3 col-lg-pull-9 col-sm-pull-8 hidden-xs">
        <div class="row">
            <div class="alert alert-danger">
                <b>We need your help!</b>
                <hr />
                <p>
                    Please register any known super heroes to the best of your knowledge
                    To assist the defense of any supervillians!
                </p>
            </div>
            <a href="#/register" class="btn btn-info" title="Register Now!">Register Now!</a>
        </div>
    </aside>
</div>