<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <a href="#Thumbnail" class="thumbnail">
                    <img src="img/batman.png" alt="batman" class="img-responsive img-rounded" width="20%" />
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#Thumbnail" class="thumbnail">
                    <img src="img/daredevil.png" alt="daredevil" class="img-responsive img-rounded" width="20%" />
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#Thumbnail" class="thumbnail">
                    <img src="img/robocop.png" alt="robocop" class="img-responsive img-rounded" width="20%" />
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#Thumbnail" class="thumbnail">
                    <img src="img/deadpool.png" alt="Deadpool" class="img-responsive img-rounded" width="20%" />
                </a>
            </div>
        </div>
    </div>
</div>
